<tr class="fields">
  <td style="width:20px">
    <%= image_form.file_field :file, class: 'change-image', onchange: 'changeImage(this)' %>
  </td>
  <td >
    <%= image_tag image_form.object.file.url.blank? ? "" : image_form.object.file.url , class: 'img' %>
  </td>
  <td>
    <%= image_form.link_to_remove "移除图片" %>
  </td>
</tr>

<style type="text/css">
  .img {
    width: 100px;
  }
</style>

<script type="text/javascript">
  function changeImage(item){
    var output = $(item).parent().siblings().children("img")
    output.attr("src", URL.createObjectURL(event.target.files[0]));
  }
</script>