<div class="content-heading">
   <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn"><%= link_to "返回",products_path %></button>
      </div>
   </div>
  商品添加
</div>
<div class="row">
 <%= render 'form' %>
</div>